*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.datetime{
    color: #fff;
    background-color: black ;
    font-family: "Segoe UI" , sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #10b981;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent ,rgba(255, 255, 255, 0.1)) ;
}
.date{
    font-size: 20px;
    text-align: center;
    
}
.time{
    font-size: 40px;
    text-align: center;
}
.datetime:hover{
    background-color: #10b981;
    box-shadow: 0 0 30px #10b981;
}